body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
}

img[alt="logo"] {
    display: block;
    margin: 0 auto 10px; 
    width: 350px; 
    height: 350px; 
}

.artwork-container {
    background-color: #ffffff;
    align-items: center;    /* This centers children horizontally */
    justify-content: center;/* This centers children vertically */
    text-align: center;     /* This centers text in the children */
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    padding: 10px;
    max-width: 600px; 
    margin: 0 auto; 
}

.loading-message {
    display: none; /* Hide it by default. Show it using jQuery when fetching */
    color: #888;
}

button#fetch-another {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#fetch-another:hover {
    background-color: #555;
}
#infoBox {
    position: fixed;   /* Makes it stick to the viewport */
    bottom: 30px;      /* Position it 10px from the bottom */
    right: 10px;       /* Position it 10px from the right */
    width: 200px;      /* Set a fixed width */
    background-color: rgba(255, 255, 255, 0.8);   /* Slightly transparent white */
    border: 1px solid #000;  /* Black border */
    padding: 10px;     /* Some spacing inside the box */
    border-radius: 5px;   /* Rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);  /* A subtle shadow */
    z-index: 1000;     /* Make sure it's on top of other elements */
}

#infoBox h3 {
    margin-top: 0;     /* Remove top margin for aesthetics */
    margin-inline: 0; /* Remove side margins for aesthetics */
}