body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
}

img[alt="logo"] {
    display: block;
    margin: 0 auto 5px;
    width: 400px; 
    height: 100px; 
}

img {
    max-width: 100%;
    height: auto;
}

.artwork-container {
    background-color: #ffffff;
    align-items: center;  
    justify-content: center;
    text-align: center; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    padding: 30px 30px; 
    margin: 0 auto; 
}

.loading-message {
    display: none; 
    color: #888;
}

button#fetch-another {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#fetch-another:hover {
    background-color: #555;
}
#infoBox {
    position: fixed;   
    bottom: 30px;
    right: 10px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#infoBox h3 {
    margin-top: 0;
    margin-inline: 0; 
}


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 300px;
    outline: none;
}

#search-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s;
}

#search-btn:hover {
    background-color: #555;
}

#back-to-top {
    position: fixed;
    bottom: 10px;  /* adjust as needed */
    left: 10px;    /* adjust as needed */
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000; /* to ensure it's on top of other elements */
    opacity: 0.7;
    transition: opacity 0.3s;
}

#back-to-top-button {
    opacity: 1;
}